.container {
  max-width: 736px;
  margin: auto;
  transform: translateY(-27px);
}

.toDoCreate {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.toDoCreate input {
  flex-grow: 1;
  background-color: var(--gray-500);
  border: solid var(--gray-700) 1px;
  font-size: 1rem;
  color: var(--gray-300);
  padding: 1rem;
  border-radius: 8px;
}

.toDoCreate button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
  width: 90px;
  font-size: 0.875rem;
  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
}

.toDoList {
  margin-top: 4rem;
}

.toDoHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.toDoHeader span {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
}

.toDoHeader span:first-child {
  color: var(--blue);
}

.toDoHeader span:last-child {
  color: var(--purple);
}

.toDoHeader strong {
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--gray-400);
  border-radius: 999px;
  color: var(--gray-200);
}

.todoListEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-top: solid 1px var(--gray-400);
  min-height: 250px;
  color: var(--gray-300);
}

.todoListEmpty .icon {
  margin-bottom: 1rem;
}

.toDoListItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  border-top: solid 1px var(--gray-400);
  min-height: 250px;
  color: var(--gray-300);
}

.toDoListItems > div {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
}

.toDoListItemInfo > span {
  color: var(--gray-100);
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  word-wrap: break-word;
  max-width: 600px;
}

.toDoListItemInfo {
  display: flex;
  gap: 1rem;
}

.checkboxContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.checkboxContainer input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.checkmark {
  border-radius: 50%; /* Faz o checkbox redondo */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid var(--blue);
}

.checkmark span {
  display: none;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: var(--purple);
  border: none;
}

.checkboxContainer input:checked ~ .checkmark span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoListItemInfo .strokedText {
  text-decoration: line-through;
  color: var(--gray-300);
}

@media (max-width: 770px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 700px) {
  .toDoListItemInfo > span {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  .toDoListItemInfo > span {
    max-width: 400px;
  }
}
@media (max-width: 500px) {
  .toDoListItemInfo > span {
    max-width: 300px;
  }
}
@media (max-width: 400px) {
  .toDoListItemInfo > span {
    max-width: 250px;
  }
}
